[submodule "libs/libs/Engine.GameServer"]
	path = libs/libs/Engine.GameServer
	url = git@github.com:BulletproofMike/Engine.GameServer.git
[submodule "libs/Engine.GameServer"]
	path = libs/Engine.GameServer
	url = git@github.com:BulletproofMike/Engine.GameServer.git
